<div class="login-popup-header">Смена пароля GameNet</div>
<div class="login-popup-form" data-bind="if: hasLogin">
    <form data-bind="submit: change">
        <div class="login-popup-form-container">
            <div class="login-popup-form_group">
                <div class="login-popup-form_message">
                    <strong>
                        <span data-bind="text: login"/>
                    </strong>
                </div>
            </div>
            <div data-bind="if: saveSuccess() !== true">
                <div class="login-popup-form_group">
                    <password-input params="value: password, generatedPassword: useGeneratedPassword, generatedText: 'Новый пароль', formName: 'change_password'"></password-input>
                </div>
                <div class="login-popup-form_group center">
                    <button type="submit" class="login-popup-button_green" data-bind="click: change, css: {enable: canChange}, ga: ['login-popup', 'submit', 'change_password']">Изменить пароль</button>
                </div>
            </div>
            <div data-bind="if: saveSuccess()">
                <div class="login-popup-form_group">
                    <div class="login-popup-form_message">
                        Вы успешно изменили пароль. <a href="#" data-bind="click: openAuthForm, ga: ['login-popup', 'click_to_auth', 'change_password']">Войдите</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="login-popup-form" data-bind="ifnot: hasLogin">
    <div class="login-popup-form-container">
        <div class="login-popup-form_group">
            <div class="login-popup-form_message">
                Некорректный код восстановления пароля. Код восстановления был ранее использован.
            </div>
            <p></p>
        </div>
    </div>
</div>