<div>
    <!-- ko if: state -->
        <div class="login-popup-form_message">
            <span data-bind="text: generatedText"/>: <span data-bind="text: password"/> &#8212; <a href="#" data-bind="click: startEdit, ga: ['login-popup', 'click_remove_generated_password', formName]">изменить</a>
        </div>
    <!-- /ko -->

    <!-- ko ifnot: state -->
    <span class="login-popup-form-password_show_icon"
          data-bind="
          click: switchPasswordView,
          css: {highlight: decryptedPassword},
          ga: ['login-popup', 'click_decrypt_password', formName]"
    />

    <div class="field--wrapper" data-bind="css: {collapsed: focusedOrNotEmpty, shake: hasErrorOnUnfocused}">
        <label for="password" data-bind="css: {focused: hasInputFocus, error: hasErrorOnUnfocused, valid: password.valid}">Пароль</label>
        <input name="password"
            id="password"
            autocomplete="on"
            tabindex="2"
            type="password"
            class="password"
            maxlength="32"
            data-bind="
                visible: decryptedPassword() === false,
                value: password,
                valueUpdate: 'input',
                click: setFocus,
                hasFocus: isFocused,
                css: {valid: password.valid, error: hasErrorOnUnfocused}"/>

        <input tabindex="3"
            type="text"
            class="password"
            maxlength="32"
            data-bind="
                visible: decryptedPassword(),
                value: password,
                valueUpdate: 'input',
                click: setOpenedFocus,
                hasFocus: isOpenedFocused,
                css: {valid: password.valid, error: hasErrorOnUnfocused, shake: hasErrorOnUnfocused}"/>
    </div>

    <div class="login-popup-form_message" data-bind="visible: canShowError() && password.hasError()">
        <span data-bind="text: password.validationMessage"/>
        <span data-bind="visible: password.needClean">
            <a href="#" data-bind="click: clean, ga: ['login-popup', 'click_password_clean', formName]">Удалить</a>
        </span>
    </div>
    <!-- /ko -->
</div>