<div class="b_footer js-footer">
    <div class="b_footer_block">
        <div class="b_footer_block_margin">
            <span class="b_footer_copyright"><span class="js-copyright-year">2010</span>
                <a href="/">GameNet.ru</a></span><span class="b_footer_support">
                <a href="/games/">Каталог игр</a><a href="/genres/">Жанры</a>
                <a href="https://support.gamenet.ru/" target="_blank">Поддержка</a>
                <a href="/license/" target="_blank">Пользовательское соглашение</a>
            </span>
            <span class="b_footer_text">Все товарные знаки и фирменные наименования, упомянутые на страницах сайта, принадлежат их законным правообладателям</span>
        </div>
    </div>
</div>

<div class="b_stage js_stage g-hidden"></div>
